## Turn on rewrite engine
RewriteEngine on

## Force WWW
#RewriteCond %{HTTP_HOST} ^makes360\.com [NC]
#RewriteRule ^(.*)$ http://www.makes360.com/$1 [L,R=301,NC]

## Force HTTPS
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

## 404
ErrorDocument 404 /404.php